@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

@layer base {
  body {
    @apply bg-primary text-white font-sans;
  }
}

@layer components {
  .btn {
    @apply inline-block px-4 py-2 border border-secondary rounded text-white cursor-pointer bg-transparent transition-all duration-300 hover:bg-secondary hover:text-black;
  }
  
  .btn:disabled {
    @apply border-gray-400 cursor-not-allowed;
  }
  
  .btn:disabled:hover {
    @apply bg-transparent text-white;
  }
}

